
body {background: #000 url(../images/doggos-big.jpg) no-repeat fixed;
	background-size: 100% 100%;

}

h1 {
		font-family: 'Satisfy', cursive;
		font-size: 30px;
		color: #FAFAD2;
}

h3 {
	font-family: Arial;
	color: #FAFAD2;
}

#hangman {
	text-align: center;
	color: #FAFAD2;
	text-shadow: 5px 5px grey;
	font-family: 'Satisfy', cursive;
	font-size: 70px;
}

#container {
	width: 80%;
	border-radius: 18px;
	opacity: 0.8;
	padding: 40px;
	background-color: black;
	margin-bottom: 50px;
	margin-left: 80px;
	text-align: center;
}

#letters a{
	color: white;
	background-color: #00BFFF;
	border-radius: 10px;
	padding: 10px;
	text-shadow: 3px 3px grey;
	cursor: pointer;
}

#letters a:hover{
	color: #FFD700;
}
